openapi: 3.0.2
#{{=## ##=}}
info:
  version: "23.2.0"
  title: Payments API Reference
  description: The documentation here is designed to provide all of the technical guidance required to consume and integrate with our APIs for payment processing. To learn more about our APIs please visit https://docs.fiserv.dev/public/docs/payments-getting-started.
  termsOfService: "https://docs.fiserv.dev"
  contact:
    name: "Fiserv Developer Portal"
    url: "https://fiserv.dev/support"
    email: "ipg-online@fiserv.com"
  license:
    name: "License under Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: 'https://prod.emea.api.fiservapps.com/sandbox/ipp/payments-gateway/v2'
    description: Sandbox Environment
  - url: 'https://prod.emea.api.fiservapps.com/ipp/payments-gateway/v2'
    description: Production Environment
tags:
  - name: Authentication
    description: "Authentication"
  - name: Payment
    description: "Payment"
  - name: Order
    description: "Order"
  - name: Payment Schedules
    description: "Payment Schedules"
  - name: Payment URL
    description: "Payment URL"
  - name: Payment Terminal
    description: "Payment Terminal"
  - name: Payment Token
    description: "Payment Token"
  - name: Verification
    description: "Verification"
  - name: Currency Conversion
    description: "Currency Conversion"
  - name: Information Lookup
    description: "Information Lookup"
##^dev_portal_emea##
  - name: Fraud Detect
    description: "Fraud Detect"
  - name: Payment Brands
    description: "Payment Brands"
  - name: Available Currencies
    description: "Available Currencies"
  - name: Available Countries
    description: "Available Countries"
  - name: Managed Redirect Url Creation
    description: "Managed Redirect Url Creation"
##/dev_portal_emea##
paths:
  /payments:
    post:
      tags:
        - Payment
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Create Primary Transaction'
      summary: Generate a primary transaction
      description: Use this to originate a financial transaction like a sale, preauthorization, or credit.
      operationId: submitPrimaryTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/MessageAuthenticationValueParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
        - $ref: '#/components/parameters/DeveloperEmailParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
###dev_portal_emea##
              $ref: '#/components/schemas/PrimaryTransactionGroup'
##/dev_portal_emea##
##^dev_portal_emea##
              $ref: '#/components/schemas/PrimaryTransaction'
##/dev_portal_emea##
            examples:
              PaymentCardSaleTransaction:
                summary: "PaymentCardSaleTransaction"
                value:
                  requestType: PaymentCardSaleTransaction
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  storedCredentials:
                    sequence: FIRST
                    scheduled: true
              PaymentCardPreAuthTransaction:
                summary: "PaymentCardPreAuthTransaction"
                value:
                  requestType: PaymentCardPreAuthTransaction
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  splitShipment:
                    totalCount: 1
                    finalShipment: true
                  incrementalFlag: false
              PaymentCardCreditTransaction:
                summary: "PaymentCardCreditTransaction"
                value:
                  requestType: PaymentCardCreditTransaction
                  transactionAmount:
                    total: 123.04
                    currency: EUR
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  currencyConversion:
                    conversionType: Dcc
                    inquiryRateId: '123456'
              PaymentCardForcedTicketTransaction:
                summary: "PaymentCardForcedTicketTransaction"
                value:
                  requestType: PaymentCardForcedTicketTransaction
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  referenceNumber: '123455'
              PaymentCardPayerAuthTransaction:
                summary: "PaymentCardPayerAuthTransaction"
                value:
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  requestType: PaymentCardPayerAuthTransaction
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
              PaymentTokenCreditTransaction:
                summary: "PaymentTokenCreditTransaction"
                value:
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  requestType: PaymentTokenCreditTransaction
                  paymentMethod:
                    paymentToken:
                      value: '1235325235236'
                      function: DEBIT
                      securityCode: '977'
              PaymentTokenPreAuthTransaction:
                summary: "PaymentTokenPreAuthTransaction"
                value:
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  requestType: PaymentTokenPreAuthTransaction
                  paymentMethod:
                    paymentToken:
                      value: '1235325235236'
                      function: DEBIT
                      securityCode: '977'
                  splitShipment:
                    totalCount: 1
                    finalShipment: true
              PaymentTokenSaleTransaction:
                summary: "PaymentTokenSaleTransaction"
                value:
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  requestType: PaymentTokenSaleTransaction
                  paymentMethod:
                    paymentToken:
                      value: '1235325235236'
                      function: DEBIT
                      securityCode: '977'
                  storedCredentials:
                    sequence: FIRST
                    scheduled: true
              PaypalCreditTransaction:
                summary: "PaypalCreditTransaction"
                value:
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  requestType: PaypalCreditTransaction
                  paymentMethod:
                    payPal:
                      recipientEmail: John@tester.com
              SepaSaleTransaction:
                summary: "SepaSaleTransaction"
                value:
                  transactionAmount:
                    total: 23.00
                    currency: EUR
                  requestType: SepaSaleTransaction
                  sepa:
                    iban: DE34500100600032121604
                    name: John Doe
                    country: DEU
                    email: john.doe@test.com
                  mandate:
                    reference: 3RBQVEE
                    url: 'https://www.firstdata.com'
                    signatureDate: '2017-07-15'
                    type: SINGLE
              WalletSaleTransaction:
                summary: "WalletSaleTransaction"
                value:
                  requestType: WalletSaleTransaction
                  transactionAmount:
                    total: 23.00
                    currency: EUR
                  walletPaymentMethod:
                    walletType: EncryptedApplePayWalletPaymentMethod
                    encryptedApplePay:
                      data: NdCmVw5nMjQq746HYc/VbiZcQZ/zFzeEcM1wVMPruEG4/C/EFhobSkwB5JZJU+t6JuDVXUBiRYuOOC8FTYd+qIm6ckktid9aiGh0f2NDP0INSr59QXmr389RonyUfRYKnBmwsh5UqtI7Iz0AmMtl1PWMdxcCewtjuffs79ahTnFgXsRN+ynuhyDfbdRanlTnYKGoTeVh9eJfheJ1wquO+jiGj+npJ/Oh9bAdlw7iEHrYO2aUkgaMyXZ3foXRAJeimQVQS1y8lU1PPq62zpPrFzidbnnU5fK25pvGFjOdmLsBELZPk5thQEkSaA9p1LSKzWSesHhi0BxZaFPXSA6ANXvYIU2AT0lG+0O0w1URA5Sinyj3YDZVqjuir6rzNN9bB2U2nTQnKMbuGLMS20K8fUKZN/YLJh+AtE6J69+VVSU95mE1nOb8hyabz6E5RmnC5Ze2k6F/hQ75ig==
                      header:
                        applicationDataHash: 94ee059335e587e501cc4bf90613e0814f00a7b08bc7c648fd865a2af6a22cc2
                        ephemeralPublicKey: MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEiaU1SbkYTJy/j5L1t51vtGDh4KlNl5MFPWzo/C8r0WcrktWriz5pdRaDVUDvU++KlDu2iuQsd2xSNKJlFscbDQ==
                        publicKeyHash: YmSWN7lj4+A6fVJVPicP8TgS7gI7ougD8rEWB5LXtMM=
                        transactionId: '31323334353637'
                      signature: MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwEAAKCAMIIB0zCCAXkCAQEwCQYHKoZIzj0EATB2MQswCQYDVQQGEwJVUzELMAkGA1UECAwCTkoxFDASBgNVBAcMC0plcnNleSBDaXR5MRMwEQYDVQQKDApGaXJzdCBEYXRhMRIwEAYDVQQLDAlGaXJzdCBBUEkxGzAZBgNVBAMMEmQxZHZ0bDEwMDAuMWRjLmNvbTAeFw0xNTA3MjMxNjQxMDNaFw0xOTA3MjIxNjQxMDNaMHYxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJOSjEUMBIGA1UEBwwLSmVyc2V5IENpdHkxEzARBgNVBAoMCkZpcnN0IERhdGExEjAQBgNVBAsMCUZpcnN0IEFQSTEbMBkGA1UEAwwSZDFkdnRsMTAwMC4xZGMuY29tMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAErnHhPM18HFbOomJMUiLiPL7nrJuWvfPy0Gg3xsX3m8q0oWhTs1QcQDTT+TR3yh4sDRPqXnsTUwcvbrCOzdUEeTAJBgcqhkjOPQQBA0kAMEYCIQDrC1z2JTx1jZPvllpnkxPEzBGk9BhTCkEB58j/Cv+sXQIhAKGongoz++3tJroo1GxnwvzK/Qmc4P1K2lHoh9biZeNhAAAxggFUMIIBUAIBATB7MHYxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJOSjEUMBIGA1UEBwwLSmVyc2V5IENpdHkxEzARBgNVBAoMCkZpcnN0IERhdGExEjAQBgNVBAsMCUZpcnN0IEFQSTEbMBkGA1UEAwwSZDFkdnRsMTAwMC4xZGMuY29tAgEBMA0GCWCGSAFlAwQCAQUAoGkwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwODEyMTczMTAwWjAvBgkqhkiG9w0BCQQxIgQgJyjKLiGQo3I1ZbfHSmF2XCZ8dNlcZyohziuXO48EKwgwCgYIKoZIzj0EAwIESDBGAiEAznKDYEz9MsC+r1g6e4LR1DTaQOl+X2rVNkWnKDpc1EQCIQCmK48ChHoz4HWnUnW5XqaGWOUXKHQvUgeqFr/jgBUzegAAAAAAAA==
                      applicationData: VEVTVA==
                      merchantId: order-1
                      version: EC_v1
                  paymentFacilitator:
                    externalMerchantId: '12345'
                    paymentFacilitatorId: '123123123'
                    saleOrganizationId: '123124214'
                    name: First Reseller
                    subMerchantData:
                      mcc: '1432'
                      legalName: First Merchant
                      timezone: Europe/London
                      address:
                        address1: 123 Main St.
                        city: Sandy Springs
                        region: Georgia
                        postalCode: '30303'
                        country: USA
                      document:
                        type: NATIONAL_IDENTITY
                        number: '12345666544'
                      merchantId: '12435325235'
              WalletPreAuthTransaction:
                summary: "WalletPreAuthTransaction"
                value:
                  requestType: WalletPreAuthTransaction
                  transactionAmount:
                    total: 23.00
                    currency: EUR
                  walletPaymentMethod:
                    walletType: EncryptedGooglePayWalletPaymentMethod
                    encryptedGooglePay:
                      data:
                        encryptedMessage: 8nxjB9mr2tWZeDRQRcGN91UUnb7AioGp3oRo8kmQ6lyvJZiqD7PJlbRCYElNqUmr6Z8zK7b2gO9MKOjpnTCqH0qAe2vuIlwNXB60M2Lh7Qfl3bVgWzwF/FfFcenVW381hoItYi8AjWnWoydz1XMTEv2qhqUG03mEnRXdMyDyk6KKZXoW8Qc0p1F1thbxxu8weU8CZbZsWGGTjB42cilIqLVbribcOAG8Oas1AcgefFsu2hwp4gdSuOg7wmeSV7XKsGQzzVy85qtjuqET2XYzJE3K/Wh9QKkhu5P9Ms5s1+Smr2IjRyidqQa88SxQplrVoo9+PvT0bxFcMspBmO3pLkuaZSUBy++dL2fefcxNJvGCFfFhdxW9DojuuQxgpeu7RAQUsGLyFmr/4ZfBxt882xTmpX9MRx5CAudl9qUgBfKdwWwMX35qSbDTm1ju5XXzNh94VebjD3bB9Zj8qgbmUOr/+6OQLhoFJyBCXgx3EEH8hBwNVFrss/SLwQvFhZh62eO6lOtnmbOtP1yTDDVqGDBfai5SwAmM+KTcc9SGv/xDC+cWe8ck+aCBkG4HoRPapUVMZ3JIgV7yzTsVLJE\\u003d\\
                        ephemeralPublicKey: BGH3fRFdoAobYrAlxnZOCYzkH84Cna92IZxtgsU36CMDaqSaDYb9/LsY8qw+vMtlBnwsUg/YVMOeeKp+qDkOWb4\\u003d\\
                        tag: nvmOUNpnOTZULLhMxT/hWCHzH/4f7gGpfvQgwl3p8ng\\u003d\\
                      signature: MEUCIFWTRWUZAOM5nfJC79FtJm56olnbwG4H5uWWxAUWAquiAiEA24j/BcOroeISsdJzYsyoVi8wzu4tnmKw+jdsGfuvPko=
                      version: ECv1
                  splitShipment:
                    totalCount: 1
                    finalShipment: true
                  incrementalFlag: false
##^dev_portal_emea##
              PaymentDevicePreAuthTransaction:
                summary: "PaymentDevicePreAuthTransaction"
                value:
                  requestType: PaymentDevicePreAuthTransaction
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  paymentMethod:
                    paymentDevice:
                      deviceType: SWIPE
                      data: 02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03
                      securityCode: '977'
                      cardholderName: First Cardholder
                      cardFunction: CREDIT
                      brand: VISA
              PaymentDeviceSaleTransaction:
                summary: "PaymentDeviceSaleTransaction"
                value:
                  requestType: PaymentDeviceSaleTransaction
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  paymentMethod:
                    paymentDevice:
                      deviceType: SWIPE
                      data: 02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03
                      securityCode: '977'
                      cardholderName: First Cardholder
                      cardFunction: CREDIT
                      brand: VISA
              PaymentDeviceCreditTransaction:
                summary: "PaymentDeviceCreditTransaction"
                value:
                  requestType: PaymentDeviceCreditTransaction
                  transactionAmount:
                    total: 12.04
                    currency: EUR
                  paymentMethod:
                    paymentDevice:
                      deviceType: SWIPE
                      data: 02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03
                      securityCode: '977'
                      cardholderName: First Cardholder
                      cardFunction: CREDIT
                      brand: VISA
##/dev_portal_emea##
###dev_portal_emea##
        description: 'Accepted request types: PaymentCardCreditTransaction, PaymentCardForcedTicketTransaction, PaymentCardSaleTransaction, PaymentCardPreAuthTransaction, PaymentCardPayerAuthTransaction,  PaymentTerminalSaleTransaction, PaymentTerminalCreditTransaction, PaymentTerminalPreAuthTransaction, PaymentTokenCreditTransaction, PaymentTokenPreAuthTransaction, PaymentTokenSaleTransaction, PaypalCreditTransaction, SepaSaleTransaction, SepaCreditTransaction, WalletSaleTransaction, and WalletPreAuthTransaction.'
##/dev_portal_emea##
##^dev_portal_emea##
        description: 'Accepted request types: AliPaySaleTransaction, ChinaPnRSaleTransaction, PaymentCardCreditTransaction, PaymentCardForcedTicketTransaction, PaymentCardSaleTransaction, PaymentCardPreAuthTransaction, PaymentCardPayerAuthTransaction, PaymentCardDisbursementTransaction, PaymentTerminalSaleTransaction, PaymentTerminalCreditTransaction, PaymentTerminalPreAuthTransaction, PaymentTokenCreditTransaction, PaymentTokenPreAuthTransaction, PaymentTokenSaleTransaction, PaymentTokenDisbursementTransaction, PaypalCreditTransaction, SepaSaleTransaction, SepaCreditTransaction, WalletSaleTransaction, and WalletPreAuthTransaction, PaymentDeviceSaleTransaction, PaymentDevicePreAuthTransaction, PaymentDeviceCreditTransaction, PaymentDeviceDisbursementTransaction, AchPreAuthTransaction, AchSaleTransaction, AchCreditTransaction.'
##/dev_portal_emea##
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  /payments/{transaction-id}:
    get:
      tags:
        - Payment
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Transaction Inquiry'
      summary: Retrieve the state of a transaction.
      description: Use this query to get the current state of an existing transaction.
      operationId: transactionInquiry
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
    patch:
      tags:
        - Payment
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Finalize Secure Transaction'
      operationId: finalizeSecureTransaction
      summary: Update a payment and continue processing # APAC only: UnionPay
      description: Use this to handle a redirect response, updating the transaction and continuing processing.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/TransactionIdParam'
      requestBody:
        content:
          application/json:
            schema:
###dev_portal_emea##
              $ref: '#/components/schemas/AuthenticationUpdateRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
              $ref: '#/components/schemas/AuthenticationUpdateRequest'
##/dev_portal_emea##
        required: true
###dev_portal_emea##
        description: 'Accepted request types: Secure3DAuthenticationUpdateRequest, Secure3D10AuthenticationUpdateRequest and Secure3D21AuthenticationUpdateRequest.'
##/dev_portal_emea##
##^dev_portal_emea##
        # APAC only: UnionPayAuthenticationUpdateRequest
        description: 'Accepted request types: Secure3DAuthenticationUpdateRequest, Secure3D10AuthenticationUpdateRequest, Secure3D21AuthenticationUpdateRequest, UnionPayAuthenticationUpdateRequest and RupayAuthenticationUpdateRequest.'
##/dev_portal_emea##
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
    post:
      tags:
      - Payment
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Secondary Transaction'
      summary: Perform a secondary transaction
      description: Use this to perform a  subsequent transaction, e.g. void, postAuth or return.
      operationId: submitSecondaryTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
###internal##
    put:
      tags:
        - Payment
      x-proxy-name: 'Secondary Transaction'
      summary: Perform a secondary transaction
      description: Use this to perform a subsequent transaction, e.g cancelWaiting. Only CancelWaitingTransaction subType is supported in the put.
      operationId: cancelWaitingTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
##/internal##
  /payments/action/{transaction-id}:
    patch:
      tags:
        - Payment
      ###dev_portal_emea##
      security:
        - Api-Key: [ ]
      ##/dev_portal_emea##
      x-proxy-name: 'Perform an update on an existing Transaction'
      ###dev_portal##
      x-tio-request-headers:
        - $ref: '#/x-tio-request-headers/PaymentsAction'
      ##/dev_portal##
      operationId: submitUpdateTransaction
      summary: Perform update on an existing transaction
      description: Perform an update on an existing transaction. This function is only applicable for an existing preAuth transaction.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        ###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        ##/dev_portal_emea##
        ###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
        ##/internal##
        - $ref: '#/components/parameters/TransactionIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransaction'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  /payments/apm/{transaction-id}:
    post:
      tags:
        - Payment APM
###dev_portal_emea##
      security:
        - Api-Key: [ ]
##/dev_portal_emea##
      x-proxy-name: 'Submit Action'
      summary: Perform an apm action
      description: Use this to perform an action on an existing transaction.
      operationId: submitApmAction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Action'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TransactionResponse'
                  - $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
    patch:
      tags:
        - Payment APM
###dev_portal_emea##
      security:
        - Api-Key: [ ]
##/dev_portal_emea##
      x-proxy-name: 'Perform an action on an existing Transaction'
###dev_portal##
      x-tio-request-headers:
        - $ref: '#/x-tio-request-headers/PaymentsApmAction'
##/dev_portal##
      operationId: submitApmUpdateTransaction
      summary: Perform action on existing APM transaction
      description: Perform an action on an existing APM transaction.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/TransactionIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransaction'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  /orders/{order-id}:
    post:
      tags:
        - Order
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Order-Based Secondary Transactions'
      summary: Perform return or postAuth secondary transactions
      description: Use this to perform a subsequent transaction, e.g. postAuth or return using an order ID as a reference.
      operationId: submitSecondaryTransactionFromOrder
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
    get:
      tags:
        - Order
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Order Inquiry'
      summary: Retrieve the state of an order
      description: Use this query to get the current state of an existing order.
      operationId: orderInquiry
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  /payment-schedules:
    post:
      tags:
        - Payment Schedules
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Schedule Creation'
      summary: Create gateway payment schedule
      description: Use this to create a payment schedule managed by the gateway.
      operationId: createPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        $ref: '#/components/requestBodies/PaymentSchedulesRequest'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The attempted action is not valid according to gateway rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          description: The endpoint declined the transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesErrorResponse'
        '500':
          $ref: '#/components/responses/ServerError'
  /payment-schedules/{order-id}:
    get:
      tags:
        - Payment Schedules
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Schedule Inquiry'
      summary: View a gateway payment schedule
      description: Use this to view details of a payment schedule managed by the gateway.
      operationId: inquiryPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPaymentDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment Schedules
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Schedule Cancel'
      summary: Cancel a gateway payment schedule
      description: Use this to cancel a payment schedule managed by the gateway.
      operationId: cancelPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - Payment Schedules
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Schedule Update'
      summary: Update a gateway payment schedule
      description: Use this to update a payment schedule managed by the gateway.
      operationId: updatePaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
###dev_portal_emea##
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSchedulePatchRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
        $ref: '#/components/requestBodies/PaymentSchedulesPatchRequest'
##/dev_portal_emea##
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
  /payment-url:
    post:
      tags:
        - Payment URL
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'URL Creation'
      summary: Create a payment URL
      description: Use this to generate a payment link.
      operationId: createPaymentUrl
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentUrlRequest'
        description: 'Accepted request type: PaymentUrlRequest.'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment URL
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Delete URL'
      summary: Delete a payment URL
      description: Use this to delete a payment link.
      operationId: deletePaymentUrl
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/TransactionIdQueryParam'
        - $ref: '#/components/parameters/OrderIdQueryParam'
        - $ref: '#/components/parameters/PaymentUrlIdQueryParam'
        - $ref: '#/components/parameters/TransactionTimeQueryParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      tags:
        - Payment URL
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'URL Detail'
      summary: Retrieve the state of payment URL
      description: Use this query to get the current state of an existing paymentURL.
      operationId: paymentUrlDetail
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/OrderIdQueryParam'
        - $ref: '#/components/parameters/MerchantTransactionIdQueryParam'
        - $ref: '#/components/parameters/FromDateQueryParam'
        - $ref: '#/components/parameters/ToDateQueryParam'
        - $ref: '#/components/parameters/StatusQueryParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
  /payment-tokens:
    post:
      tags:
        - Payment Token
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Token Creation'
      operationId: createPaymentToken
      summary: Create a payment token from a payment card
      description: Use this to create a payment token to safely store sensitive credit card information.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
        - $ref: '#/components/parameters/DeveloperEmailParam'
        - $ref: '#/components/parameters/AuthTokenType'
        - $ref: '#/components/parameters/AccessToken'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
###dev_portal_emea##
              $ref: '#/components/schemas/PaymentTokenizationRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
              $ref: '#/components/schemas/PaymentTokenizationRequest'
##/dev_portal_emea##
        required: true
        description: 'Accepted request types: PaymentCardPaymentTokenizationRequest, PaymentDevicePaymentTokenizationRequest, and ReferencedOrderPaymentTokenizationRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentTokenizationGatewayDeclined'
        '422':
          $ref: '#/components/responses/PaymentTokenizationEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - Payment Token
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Token Update'
      operationId: updatePaymentToken
      summary: Update one or more payment tokens
      description: Use this update one or more payment tokens.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
        - $ref: '#/components/parameters/DeveloperEmailParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardPaymentTokenUpdateRequest'
        required: true
        description: 'Accepted request type: PaymentCardPaymentTokenUpdateRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentTokenizationGatewayDeclined'
        '422':
          $ref: '#/components/responses/PaymentTokenizationEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
  /payment-tokens/{token-id}:
    get:
      tags:
        - Payment Token
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Get Token Source Details'
      operationId: getPaymentTokenDetails
      summary: Get payment card details associated with token
      description: Get payment card details associated with token.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/TokenIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment Token
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Token Deletion'
      operationId: deletePaymentToken
      summary: Delete a payment token
      description: Use this to delete a payment token.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/TokenIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/PaymentMethodTypeParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
##^dev_portal_emea##
  /payment-tokens/{token-id}/cryptogram:
    post:
      tags:
      - Payment Token
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Get Cryptogram with token id'
      summary: Get Cryptogram with token id
      description: Get token details and cryptogram with token id.
      operationId: getNetworkTokenCryptogram
      parameters:
      - $ref: '#/components/parameters/ContentTypeParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
      - $ref: '#/components/parameters/RequestUUID'
      - $ref: '#/components/parameters/AppIdParam'
      - $ref: '#/components/parameters/AuthorizationTypeParam'
      - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      - $ref: '#/components/parameters/TokenIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetNetworkTokenCryptogramRequest'
        description: 'Accepted request type: GetNetworkTokenCryptogramRequest.'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkTokenCryptogramResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
##/dev_portal_emea##
  /card-verification:
    post:
      tags:
      - Verification
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Card Verification'
      operationId: verifyCard
      summary: Verify a payment card
      description: Use this to perform card verification for a payment card. Use the account-verification endpoint instead for this request.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardVerificationRequest'
        required: true
        description: 'Accepted request type: CardVerificationRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
##^dev_portal_emea##
  /delivery-confirmation:
    post:
      tags:
      - DeliveryConfirmation
      x-proxy-name: 'Delivery Confirmation'
      operationId: confirmation
      summary: Delivery Confirmation for Escrow KPS Transactions
      description: Delivery Confirmation for Escrow KPS Transactions
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        -   $ref: '#/components/parameters/ApiKeyParam'
        -   $ref: '#/components/parameters/TimestampParam'
        -   $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryConfirmationRequest'
        required: true
        description: 'Accepted request type: DeliveryConfirmationRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryConfirmationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
##/dev_portal_emea##
  /account-verification:
    post:
      tags:
      - Verification
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Account Verification'
      operationId: verifyAccount
      summary: Verify a payment card or payment token
      description: Use this to perform an account verification for a payment card or payment token
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
###dev_portal_emea##
              $ref: '#/components/schemas/AccountVerificationRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
              $ref: '#/components/schemas/AccountVerificationRequest'
##/dev_portal_emea##
        required: true
        description: 'Accepted request type: PaymentCardVerificationRequest and PaymentTokenVerificationRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
  /exchange-rates:
    post:
      tags:
        - Currency Conversion
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: Currency Conversion Inquiry
      summary: Generate dynamic currency conversion transactions
      description: Sale, return and lookup exchange rate with dynamic currency conversion option
      operationId: getExchangeRate
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
###dev_portal_emea##
              $ref: '#/components/schemas/ExchangeRateRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
              $ref: '#/components/schemas/ExchangeRateRequest'
##/dev_portal_emea##
        required: true
        description: 'Accepted request types: DCCExchangeRateRequest and DynamicPricingExchangeRateRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  /card-information:
    post:
      tags:
        - Information Lookup
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Card Info Lookup'
      summary: Card Information Lookup
      description: Use this to look up card related information such as issuer country, card function and card brand.
      operationId: cardInfoLookup
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardInfoLookupRequest'
        description: 'Accepted request type: CardInfoLookupRequest.'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInfoLookupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
##^dev_portal_emea##
  /generate-cash-receipt:
    post:
      tags:
      - GenerateCashReceipt
      x-proxy-name: 'Generate Cash Receipt'
      operationId: generateCashReceipt
      summary: Generate Cash Receipt for KPS Transactions
      description: Generate Cash Receipt for KPS Transactions
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        -   $ref: '#/components/parameters/ApiKeyParam'
        -   $ref: '#/components/parameters/TimestampParam'
        -   $ref: '#/components/parameters/MessageSignatureParam'
        -   $ref: '#/components/parameters/RegionParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCashReceiptRequest'
        required: true
        description: 'Accepted request type: GenerateCashReceiptRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateCashReceiptResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
##/dev_portal_emea##
  /account-information:
    post:
      tags:
        - Information Lookup
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Account Info Lookup'
      summary: Account Information Lookup
      description: Use this to look up card related information associated with a payment card or payment token.
      operationId: lookupAccount
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
###dev_portal_emea##
              $ref: '#/components/schemas/AccountInfoLookupRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
              $ref: '#/components/schemas/AccountInfoLookupRequest'
##/dev_portal_emea##
        description: 'Accepted request type: PaymentCardInfoLookupRequest and PaymentTokenInfoLookupRequest'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInfoLookupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
##^dev_portal_emea##
  /store/availableBrands:
    get:
      tags:
        - Payment Brands
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Get Available Brands'
      summary: Get all available list of brand types supported by a store
      description: Use this to get all available list of brand types supported by a store.
      operationId: getAvailableBrands
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
        - $ref: '#/components/parameters/RequestUUID'
        - $ref: '#/components/parameters/AppIdParam'
        - $ref: '#/components/parameters/AuthorizationTypeParam'
        - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentBrandResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /store/availableCurrencies:
    get:
      tags:
      - Available Currencies
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Get Available Currencies'
      summary: Get list of currencies available for a store
      description: Get list of currencies available for a store.
      operationId: getAvailableCurrencies
      parameters:
      - $ref: '#/components/parameters/ContentTypeParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
      - $ref: '#/components/parameters/RequestUUID'
      - $ref: '#/components/parameters/AppIdParam'
      - $ref: '#/components/parameters/AuthorizationTypeParam'
      - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableCurrenciesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /store/availableIsoCountries:
    get:
      tags:
      - Available Countries
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Get Available Countries'
      summary: Get list of countries available for a store
      description: Get a list of available countries for a store.
      operationId: getAvailableCountries
      parameters:
      - $ref: '#/components/parameters/ContentTypeParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
      - $ref: '#/components/parameters/RequestUUID'
      - $ref: '#/components/parameters/AppIdParam'
      - $ref: '#/components/parameters/AuthorizationTypeParam'
      - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableIsoCountriesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /managed-redirect:
    post:
      tags:
      - Managed Redirect Url Creation
###dev_portal_emea##
      security:
        - Api-Key: []
##/dev_portal_emea##
      x-proxy-name: 'Managed Redirect URL Creation'
      summary: Create a Managed Redirect URL
      description: Use this to generate an embedding payment link.
      operationId: managedRedirect
      parameters:
      - $ref: '#/components/parameters/ContentTypeParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
###dev_portal_emea##
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/MessageSignatureParam'
##/dev_portal_emea##
###internal##
      - $ref: '#/components/parameters/RequestUUID'
      - $ref: '#/components/parameters/AppIdParam'
      - $ref: '#/components/parameters/AuthorizationTypeParam'
      - $ref: '#/components/parameters/AuthorizationIdParam'
##/internal##
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedRedirectPrimaryRequest'
        description: 'Accepted request type: ManagedRedirectPrimaryRequest.'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedRedirectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
##/dev_portal_emea##
components:
###dev_portal_emea##
#-------------------------------------------------------------------------------
# Security Schemes
#-------------------------------------------------------------------------------
  securitySchemes:
    Api-Key:
      name: Api-Key
      type: apiKey
      in: header
      description: Authorization value in header (obtain from developer portal)
##/dev_portal_emea##
#-------------------------------------------------------------------------------
# Parameter Models
#-------------------------------------------------------------------------------
  parameters:
    ContentTypeParam:
      name: Content-Type
      schema:
        type: string
        enum:
        - application/json
        default: application/json
      in: header
      required: true
      description: Content type.
    ClientRequestIdParam:
      name: Client-Request-Id
      schema:
        type: string
      in: header
      required: true
      description: A client-generated ID for request tracking and signature creation, unique per request.  This is also used for idempotency control. We recommend 128-bit UUID format.
    MessageAuthenticationValueParam:
      name: Message-Authentication-Value
      schema:
        type: string
      in: header
      description: >
        The Message Authentication Value (MAC) is optional header and it is only required for Card Present
        transactions or transactions originated from Terminals. The OpenAPI Header parameter format for the
        message authentication value of the complete payload follows the
        pattern <MAC>;<derivation algo>;<mac algo>;<key index>[;<key name>][;<key version>].
      
        1. Derivation Algo: This refers to the algorithm used for key derivation. The options are 'DUKPT2009' 
        which represents the Derived Unique Key Per Transaction (DUKPT) algorithm, as defined by 
        ANSI X9.24-2009 Annex A, and 'AESDUKPT128ECB', which signifies the AES DUKPT ECB algorithm with a 
        key length of 128 bits, as defined in ANSI X9.24-3-2017 Annex.
      
        2. Mac Algo: This points to the algorithm used for Message Authentication Code (MAC). There are two 
        options: 'RetailSHA256MAC' which indicates the Retail-CBC-MAC using SHA-256 (Secure Hash standard) 
        and an ASN.1 Object Identifier: id-retail-cbc-mac-sha-256. The other option is 'SHA256CMACwithAES128', 
        which represents the CMAC (Cipher-based Message Authentication Code) as defined by NIST 800-38B - 
        May 2005. This option employs the Advanced Encryption Standard block cipher with a 128-bit 
        cryptographic key, as approved by FIPS 197 - November 6, 2001. The CMAC algorithm is computed on 
        the SHA-256 digest of the message.
      
        The rest of the parameters include the 'key index', 'key name' (optional), and 'key version' (optional), 
        which are not specified here but contribute to the full formatting of the header parameter.
    ###dev_portal_emea##
    ApiKeyParam:
      name: Api-Key
      schema:
        type: string
      in: header
      required: true
      description: Key given to merchant after boarding associating their requests with the appropriate app in Apigee.
    TimestampParam:
      name: Timestamp
      schema:
        type: integer
        format: int64
      in: header
      required: true
      description: Epoch timestamp in milliseconds in the request from a client system. Used for Message Signature generation and time limit (5 mins).
    MessageSignatureParam:
      name: Message-Signature
      schema:
        type: string
      in: header
      required: true
      description: Used to ensure the request has not been tampered with during transmission. The Message-Signature is the Base64 encoded HMAC hash (SHA256 algorithm with the API Secret as the key.) For more information, refer to the supporting documentation on the Developer Portal.
      x-link:
        name: "How to Create Message Signature"
        link: "https://docs.firstdata.com/org/gateway/node/394"
    AccessTokenParam:
      name: Authorization
      description: The access token previously generated with the access-tokens call. Use the format 'Bearer {access-token}'.
      schema:
        type: string
      in: header
      required: false
##/dev_portal_emea##
###internal##
    RequestUUID:
      name: REQUEST_UUID
      schema:
        type: string
      in: header
      required: false
      description: The Apigee-generated UUID for request tracking, unique per request. Generated in the REST API layer if not provided.
    AppIdParam:
      name: App-Id
      schema:
        type: string
      in: header
      required: true
      description: The Apigee application name for transaction origination auditing purpose.
    AuthorizationTypeParam:
      name: Authorization-Type
      schema:
        type: string
        enum: [STORE_ID, HIERARCHY_NODE_ID, ALTERNATIVE_HIERARCHY]
      in: header
      required: true
      description: The authorization type from the application details.
    AuthorizationIdParam:
      name: Authorization-Id
      schema:
        type: string
      in: header
      required: true
      description: Authorization ID filled in from the app details (for example, the value associated with the STORE_ID or HIERARCHY_NODE_ID or ALTERNATIVE_HIERARCHY).
    DeveloperEmailParam:
      name: Developer_Email
      schema:
        type: string
      in: header
      required: true
      description: The developer email of the developer boarded in APIGEE and FirstAPI.
    AuthTokenType:
      name: Auth_Token_Type
      schema:
        type: string
      in: header
      required: false
      description: Apigee sets authentication token value as AccessToken when merchant sends a create payment token request with access token.
    AccessToken:
      name: Access_Token
      schema:
        type: string
      in: header
      required: false
      description: Apigee sets access token value provided by merchant for the create payment token request.
##/internal##
    TransactionIdParam:
      name: transaction-id
      schema:
        type: string
      in: path
      required: true
      description: Gateway transaction identifier as returned in the parameter ipgTransactionId or merchantTransactionId.
    TransactionIdQueryParam:
      name: transactionId
      schema:
        type: string
      in: query
      required: false
      description: Gateway transaction identifier as returned in the parameter ipgTransactionId or merchantTransactionId.
    OrderIdParam:
      name: order-id
      schema:
        type: string
      in: path
      required: true
      description: Gateway order identifier as returned in the parameter orderId.
    OrderIdQueryParam:
      name: orderId
      schema:
        type: string
      in: query
      required: false
      description: Gateway order identifier as returned in the parameter orderId.
    PaymentUrlIdQueryParam:
      name: paymentUrlId
      schema:
        type: string
      in: query
      required: false
      description: The ID code from the payment URL.
    MerchantTransactionIdQueryParam:
      name: merchantTransactionId
      schema:
        type: string
      in: query
      required: false
      description: Gateway merchant identifier as returned in the parameter merchantTransactionId.
    FromDateQueryParam:
      name: fromDate
      schema:
        type: string
      in: query
      required: true
      description: The start date for payment URL in seconds since epoch.
    ToDateQueryParam:
      name: toDate
      schema:
        type: string
      in: query
      required: true
      description: The end date for payment URL search query in seconds since epoch.
    StatusQueryParam:
      name: status
      schema:
        type: string
      in: query
      required: false
      description: The status of payment URL.
    StoreIdParam:
      name: storeId
      schema:
        type: string
      in: query
      required: false
      description: An optional outlet ID for clients that support multiple stores in the same developer app.
    PaymentMethodTypeParam:
      name: payment-method
      schema:
        $ref: '#/components/schemas/PaymentMethodType'
      in: query
      required: false
      description: The type of the paymentMethod.
    TokenIdParam:
      name: token-id
      schema:
        type: string
      in: path
      required: true
      description: Identifies a payment token.
    TransactionTimeQueryParam:
      name: transactionTime
      schema:
        type: string
      in: query
      required: false
      description: The transaction time in seconds since epoch.
#-------------------------------------------------------------------------------
# HTTP Response Models
#-------------------------------------------------------------------------------
  responses:
    BadRequest:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthenticated:
      description: The request cannot be authenticated or was submitted with the wrong credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request was unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: Format that is not supported by the server for the HTTP method.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: An unexpected internal server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    EndpointCommunicationError:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    GatewayDeclined:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    EndpointDeclined:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TransactionGatewayDeclined:
      description: The attempted action is not valid according to gateway rules. For example, the merchant is not set-up or the order already exists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionErrorResponse'
    TransactionEndpointDeclined:
      description: The processor declined the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionErrorResponse'
    PaymentTokenizationGatewayDeclined:
      description: The attempted action is not valid according to gateway rules. For example, when the gateway is too busy then the transaction is not processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentTokenizationErrorResponse'
    PaymentTokenizationEndpointDeclined:
      description: The processor declined the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentTokenizationErrorResponse'
#-------------------------------------------------------------------------------
# Reusable request body definitions
#-------------------------------------------------------------------------------
  requestBodies:
    SecondaryTransaction:
      content:
        application/json:
          schema:
###dev_portal_emea##
            $ref: '#/components/schemas/SecondaryTransactionGroup'
##/dev_portal_emea##
##^dev_portal_emea##
            $ref: '#/components/schemas/SecondaryTransaction'
##/dev_portal_emea##
      required: true
###dev_portal_emea##
      description: 'Accepted request types: PostAuthTransaction, VoidTransaction, VoidPreAuthTransactions, ReturnTransaction and PreAuthSecondaryTransaction.'
##/dev_portal_emea##
##^dev_portal_emea##
      description: 'Accepted request types: PostAuthTransaction, VoidTransaction, VoidPreAuthTransactions, ReturnTransaction, AchPostAuthTransaction, AchVoidTransaction, AchReturnTransaction, KoreanPaymentServiceReturnTransaction and PreAuthSecondaryTransaction.'
##/dev_portal_emea##
    PaymentSchedulesRequest:
      content:
        application/json:
          schema:
###dev_portal_emea##
            $ref: '#/components/schemas/PaymentScheduleRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
            $ref: '#/components/schemas/PaymentSchedulesRequest'
##/dev_portal_emea##
      required: true
      description: 'Accepted request types: PaymentMethodPaymentSchedulesRequest and ReferencedOrderPaymentSchedulesRequest.'
    PaymentSchedulesPatchRequest:
      content:
        application/json:
          schema:
###dev_portal_emea##
            $ref: '#/components/schemas/PaymentSchedulePatchRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
            $ref: '#/components/schemas/PaymentSchedulesPatchRequest'
##/dev_portal_emea##
      required: true
      description: 'Accepted request types: PaymentMethodPaymentSchedulesPatchRequest and ReferencedOrderPaymentSchedulesPatchRequest.'
    AuthenticationVerificationRequest:
      content:
        application/json:
          schema:
###dev_portal_emea##
            $ref: '#/components/schemas/AuthenticationUpdateRequestGroup'
##/dev_portal_emea##
##^dev_portal_emea##
            $ref: '#/components/schemas/AuthenticationUpdateRequest'
##/dev_portal_emea##
      required: true
#-------------------------------------------------------------------------------
# Schemas
#-------------------------------------------------------------------------------
  schemas:
###dev_portal_emea##
#-------------------------------------------------------------------------------
# Request Groups
#-------------------------------------------------------------------------------
    PrimaryTransactionGroup:
      x-hide-model: true
      type: object
      anyOf:
        - $ref: '#/components/schemas/PaymentCardCreditTransaction'
        - $ref: '#/components/schemas/PaymentCardForcedTicketTransaction'
        - $ref: '#/components/schemas/PaymentCardSaleTransaction'
        - $ref: '#/components/schemas/PaymentCardPreAuthTransaction'
        - $ref: '#/components/schemas/PaymentCardPayerAuthTransaction'
        - $ref: '#/components/schemas/PaymentTerminalSaleTransaction'
        - $ref: '#/components/schemas/PaymentTerminalPreAuthTransaction'
        - $ref: '#/components/schemas/PaymentTerminalCreditTransaction'
        - $ref: '#/components/schemas/PaymentTokenCreditTransaction'
        - $ref: '#/components/schemas/PaymentTokenPreAuthTransaction'
        - $ref: '#/components/schemas/PaymentTokenSaleTransaction'
        - $ref: '#/components/schemas/PaymentTokenPayerauthTransaction'
        - $ref: '#/components/schemas/PaypalCreditTransaction'
        - $ref: '#/components/schemas/SepaSaleTransaction'
        - $ref: '#/components/schemas/SepaCreditTransaction'
        - $ref: '#/components/schemas/WalletSaleTransaction'
        - $ref: '#/components/schemas/WalletPreAuthTransaction'
        - $ref: '#/components/schemas/ApmSaleTransaction'
        - $ref: '#/components/schemas/ApmPreAuthTransaction'
##^dev_portal_emea##
        - $ref: '#/components/schemas/PaymentCardDisbursementTransaction'
        - $ref: '#/components/schemas/PaymentTokenDisbursementTransaction'
        - $ref: '#/components/schemas/PaymentDeviceSaleTransaction'
        - $ref: '#/components/schemas/PaymentDevicePreAuthTransaction'
        - $ref: '#/components/schemas/PaymentDeviceCreditTransaction'
        - $ref: '#/components/schemas/PaymentDeviceDisbursementTransaction'
        - $ref: '#/components/schemas/AchPreAuthTransaction'
        - $ref: '#/components/schemas/AchSaleTransaction'
        - $ref: '#/components/schemas/AchCreditTransaction'
        - $ref: '#/components/schemas/AliPaySaleTransaction'
        - $ref: '#/components/schemas/ChinaPnRSaleTransaction'
        - $ref: '#/components/schemas/KoreanPaymentSaleTransaction
##/dev_portal_emea##
      discriminator:
[...]
